<!doctype html>
<html>
<head> 
    <title>BBB - Comprar e vender - {{titulo}}</title>
</head>

<body>
    <h4>{{titulo}}</h4>
    <form action="caduser" method="post">
        <p><label for="nome">Nome do Usuario</label>
            <input type="text" id="nome" name="nome"></p>
    
            <p><label for="email">E-mail</label>
            <input type="text" id="email" name="email"></p>       
    
            <p><label for="passwd">Senha</label>
            <input type="text" id="senha" name="senha"></p>
    
            <p><label for="end">Rua</label>
            <input type="text" id="rua" name="rua"></p>
    
            <p><label for="end">Cidade</label>
            <input type="text" id="cidade" name="cidade"></p>
    
            <p><label for="end">Estado</label>
            <input type="text" id="estado" name="estado"></p>
            
            <p><label for="end">CEP</label>
            <input type="text" id="cep" name="cep"></p>

            <p><input type="submit" value="Cadastrar"></p>
    
    </form>
</body>

</html>

